*.env*
!.env.example
.venv
logs/
__pycache__
data/**
*.db
!.gitkeep
.DS_Store
.vscode/settings.json
pyrightconfig.json
TODO

# docker volumes
docker/volumes/chatbot/
docker/volumes/seekdb/
docker/volumes/oceanbase/